body {
    margin: 0;
    background-image: url(bilder/cafe.jpg);
  }
  
  main {
    margin: 5%;
  }
#header {
    background-color: rgba(223, 225, 235, 0.7);
    color:rgba(0, 0, 0, 1);
    font-size: 1.5em;
    text-align: center;
    font-family: arial;
    

    
 
}

#header ul {
    display: inline-block;
  
}

#header ul > li {
    display: inline-block;
    margin-right: 01.5em;
   
    
}

header a {
    color: inherit;
}

main > *,
article > * {
  margin: 20px 0;
}

.menyheader {
    
    color: rgb(0, 182, 9)  ;
    font-family: arial;
    text-align: center;
    font-size: 100px ;
}

.card {
  font-family: arial;
  background: rgba(255, 255, 255, 0.87);
  box-sizing: content-box;
  padding: 10px;
  width: 30%; 
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 35%; 
  margin-right: 35%; /* Redundant to have both left and right margins
   set when either one of them makes the other one equal */
  text-align: center;
}
